EXPO_PUBLIC_SWAP_API_URL=https://api.swapaholic.com/api
EXPO_PUBLIC_SWAP_WALLET_API_URL=https://walletapi.swapaholic.com/api
EXPO_PUBLIC_SWAP_API_VERSION=v3
EXPO_PUBLIC_SWAP_USE_MOCK=true
EXPO_PUBLIC_SWAP_EMAIL=
EXPO_PUBLIC_SWAP_BUY_POINTS_EMAIL=
EXPO_PUBLIC_DEFAULTOPS_LOGIN_USERNAME=
EXPO_PUBLIC_DEFAULTOPS_LOGIN_PASSWORD=
EXPO_PUBLIC_SWAP_PICKUP_TRIP_TIME=09:00 am to 01:00 pm
EXPO_PUBLIC_SWAP_PICKUP_APT_NO="#01-02"
EXPO_PUBLIC_SWAP_PICKUP_BUILDING_NAME=Clarke Quay - Blk B
EXPO_PUBLIC_SWAP_PICKUP_STREET_NO=3
EXPO_PUBLIC_SWAP_PICKUP_STREET_NAME=River Valley Rd
EXPO_PUBLIC_SWAP_PICKUP_COUNTRY=Singapore
EXPO_PUBLIC_SWAP_PICKUP_STATE=
EXPO_PUBLIC_SWAP_PICKUP_CITY=Singapore
EXPO_PUBLIC_SWAP_PICKUP_POSTAL_CODE=179024

EXPO_PUBLIC_BOOTH_GRAPHQL_URL=https://mkt-prod-api.swapaholic.com/graphql
EXPO_PUBLIC_BOOTH_USE_MOCK=true
EXPO_PUBLIC_BOOTH_EMAIL=
EXPO_PUBLIC_OPS_PASSWORD=
EXPO_PUBLIC_APP_NAME=Swapaholic Agent
EXPO_PUBLIC_BOOTH_LOGO_URL=https://images.pexels.com/photos/5632402/pexels-photo-5632402.jpeg?auto=compress&cs=tinysrgb&w=200&h=200&fit=crop
EXPO_PUBLIC_SWAP_PRODUCT_IMAGE_ASPECT_RATIO=250/354
