EXPO_PUBLIC_SWAP_API_URL=https://api.swapaholic.com/api
EXPO_PUBLIC_SWAP_WALLET_API_URL=https://walletapi.swapaholic.com/api
EXPO_PUBLIC_SWAP_API_VERSION=v3
EXPO_PUBLIC_SWAP_USE_MOCK=true
EXPO_PUBLIC_SWAP_EMAIL=
EXPO_PUBLIC_SWAP_BUY_POINTS_EMAIL=

EXPO_PUBLIC_BOOTH_GRAPHQL_URL=https://mkt-prod-api.swapaholic.com/graphql
EXPO_PUBLIC_BOOTH_USE_MOCK=true
EXPO_PUBLIC_BOOTH_EMAIL=
EXPO_PUBLIC_OPS_PASSWORD=
EXPO_PUBLIC_APP_NAME=Swapaholic Agent
EXPO_PUBLIC_BOOTH_LOGO_URL=https://images.pexels.com/photos/5632402/pexels-photo-5632402.jpeg?auto=compress&cs=tinysrgb&w=200&h=200&fit=crop
EXPO_PUBLIC_SWAP_PRODUCT_IMAGE_ASPECT_RATIO=250/354
